<div class="container-fluid width-aligment">
<div class="col-md-12 my-applicance">
    <p>الخدمات الإلكترونية</p>
 </div>
 <section class="container main-service-key">
    <div class="row">
       <div class="filter-key-margin col-md-12 ">
          <button class="ml-2 f-all mb-1 defualt-active menu-filter-button" menu-data-filter="all"><span class="ml-1 glyphicon" autofocus></span>كل
          الخدمات</button>
          <button class="ml-2 menu-filter-button" menu-data-filter="giveandtake"><span class="ml-1 glyphicon"></span>الاستيراد والتصدير</button>
          <button class=" ml-2 menu-filter-button clear-mobile" menu-data-filter="market"><span class="ml-1 glyphicon"></span>مراقبة الاسواق</button>
          <button class="ml-2 menu-filter-button" menu-data-filter="madeFactory"><span class="ml-1 glyphicon"></span>التنمية الصناعية</button>
       </div>
    </div>
 </section>
 <section class="mt-3 container">
    <div class="row">
       <div class="filter-key-margin col-md-12">
          <button  class="f-all all-service servicefilter-Wrapper float-right mb-2 ml-2 mt-1 filter-button" data-filter="all">الكل</button>
          <span class="servicefilter-posistion menu-filter all giveandtake " >
          <button class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button " data-filter="mestawred">بطاقة المستورد</button>
          </span>
          <span class="servicefilter-posistion menu-filter all giveandtake"  >
          <button class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button"  data-filter="newEsterad">رخصة الإستيراد</button>
          </span>
          <span class="servicefilter-posistion menu-filter all giveandtake"  >
          <button class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button"  data-filter="newtasdeer">رخصة التصدير</button>
          </span>
          <span class="menu-filter all market servicefilter-posistion "><button
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button"  data-filter="newtarweej" >حملة ترويجية</button></span>
          <span class="menu-filter all market   servicefilter-posistion " ><button data-filter="newtasfia"
             class="tasfia green servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">التصفية</button> </span>
          <span class="menu-filter all market  servicefilter-posistion " ><button data-filter="newkafalat"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">كفالات</button></span>
          <span class="menu-filter all madeFactory   servicefilter-posistion " ><button data-filter="newmatheel"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">مثيل محلي</button> </span>
          <span class="menu-filter all madeFactory   servicefilter-posistion " ><button data-filter="newmontaj"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button" >شهادة قائم ومنتج</button></span>
          <span class="menu-filter all madeFactory  servicefilter-posistion "><button  data-filter="newmwaheed"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">شهادة منتج وحيد</button></span>
          <span class="menu-filter all madeFactory   servicefilter-posistion "><button  data-filter="newmtakhlees"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">التخليص المحلي</button> </span>
          <span class="menu-filter all madeFactory   servicefilter-posistion " ><button data-filter="newcertificate"
             class="servicefilter-Wrapper float-right ml-2 mb-2 mt-1 filter-button">شهادة لمن يهمه
          الامر</button></span>
       </div>
    </div>
 </section>
</div>