<header>
   <div  class="container-fluid">
       <div class="row">
        
          <div class="col-lg-4 order-sm-1" >
            <img width="300" src="../assets/images/MITlogo.png" />

          </div>
          <div  class="col-lg-8 order-sm-2 main-menue">
            <div class="top-menu-margin">
                <div class="btn-group mt-2">
                   <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                   <span class="glyphicon text-white ml-2"></span>اللغة
                   </button>
                   <div class="dropdown-menu dropdown-menu-right dropdown-style">
                      <button class="dropdown-item " type="button">العربية<span
                         class="glyphicon mr-2 colored-icon"></span></button>
                      <button class="dropdown-item" type="button">English</button>
                   </div>
                </div>
                <span class="mr-3 ml-3 hv-top"></span>
                <div class="btn-group arrow-disable mt-2">
                   <button type="button" class=" dropdown-toggle border-right" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                   <span class="glyphicon text-white ml-2"></span>اشعارات
                   </button>
                   <div class="dropdown-menu dropdown-menu-right">
                      <div class="notification">
                         <p>لقد تمت اصدار بطاقة مستورد ورقمها 123456</p>
                         <hr />
                         <p>لقد تمت اصدار بطاقة مستورد ورقمها 123456</p>
                         <hr />
                         <p>لقد تمت اصدار بطاقة مستورد ورقمها 123456</p>
                      </div>
                   </div>
                </div>
                <span class="mr-3 ml-3 hv-top"></span>
                <div class="btn-group mt-2">
                   <button type="button" class=" dropdown-toggle border-right" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                   <span class="glyphicon text-white ml-2"></span>حسابي
                   </button>
                   <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">
                      <span class="glyphicon ml-1"></span>معلومات المستخدم</button>
                      <button class="dropdown-item" type="button"><span class="glyphicon ml-1"></span>خروج</button>
                   </div>
                </div>
             </div>
        </div>
       </div>
   </div>
</header>