<section class="container-fluid order-status width-aligment mobile-aligment">
    <div class="row">
       <div class="col-md-12 my-applicance">
          <p>حالة طلباتي</p>
       </div>
    </div>
    <div class="row my-applicance-body bg-white">

<div class="container">
<div class="row">
<div class="col-md-2 col-sm-6">
 <div class="pr-3 app-border-all">
    <div class="row">
       <div class="col-md-7">
          <p class="text-right">الكل</p>
          <img class="float-right" src="../assets/images/all.png" alt="الكل" title="الكل" width="26" height="auto" />
       </div>
       <div class="col-md-5">
          <h1 class="text-right font-weight-bold Bebas-Neue">5</h1>
       </div>
    </div>
 </div>
</div>
<div class="col-md-2 col-sm-6">
 <div class="pr-3 app-border-setting">
    <div class="row">
       <div class="col-md-7">
          <p class="text-right">قيد الإجراء</p>
          <img class="float-right" src="../assets/images/setting.png" alt="قيد الإجراء" title="قيد الإجراء" width="26" height="auto" />
       </div>
       <div class="col-md-5">
          <h1 class="text-right font-weight-bold Bebas-Neue">3</h1>
       </div>
    </div>
 </div>
</div>
<div class="col-md-2 col-sm-6">
 <div class="pr-3 app-border-edit">
    <div class="row">
       <div class="col-md-7">
          <p class="text-right mb-1">بانتظار إجراء</p>
          <img class="float-right" src="../assets/images/wait.png" alt="بانتظار إجراء" title="بانتظار إجراء" width="26" height="auto" />
       </div>
       <div class="col-md-5">
          <h1 class="text-right font-weight-bold Bebas-Neue">2</h1>
       </div>
    </div>
 </div>
</div>
<div class="col-md-2 col-sm-6">
 <div class="pr-3 app-border-send">
    <div class="row">
       <div class="col-md-7">
          <p class="text-right mb-1">غير مرسلة</p>
          <img class="float-right" src="../assets/images/send.png" alt="طلبات غير مرسلة" title="طلبات غير مرسلة" width="26" height="auto" />
       </div>
       <div class="col-md-5">
          <h1 class="text-right font-weight-bold Bebas-Neue">2</h1>
       </div>
    </div>
 </div>
</div>
<div class="col-sm-4"></div>


</div>

</div>




    </div>
 </section>