<div class="redak">
    <a href="#">
       <p>رضاك يُهمنّا</p>
    </a>
 </div>
 <section class="container-fluid mt-4 bg-white pb-3 footer footer-desktop">
    <div class="row">
       <div class="col-md-3"> </div>
       <div class="col-md-6 text-center">جميع الحقوق محفوظة لوزارة الصناعة والتجارة &copy; 2020</div>
       <div class="col-md-3">
          تابعونا على
          <a href="https://www.facebook.com/mit.gov.jo"  target="_blank"><img src="../assets/images/001-facebook-logo.svg" alt="Facebook" title="Facebook" width="15px" height="auto" /></a>
          <a href="https://twitter.com/MIT_HKJ"  target="_blank"><img src="../assets/images/002-twitter.svg" alt="Twitter" title="Twitter" width="15px" height="auto" /></a>
       </div>
    </div>
 </section>
