
<section class="container">
    <div class="row">
       <div  class="  col-md-4 filter all giveandtake mestawred">
          <div class="serv-div w3-display-container w3-hover   red mestwred-1">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار بطاقة مستورد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="  col-md-4 filter all giveandtake mestawred">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">تجديد بطاقة مستورد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="  col-md-4 filter all giveandtake mestawred">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service1.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5"> تعديل بطاقة مستورد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newEsterad  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار رخصة إستيراد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newEsterad  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service1.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">تعديل رخصة الإستيراد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newEsterad  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">بدل تالف / بدل فاقد عن رخصة إستيراد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newtasdeer  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار رخصة تصدير</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newtasdeer  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service1.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">تعديل رخصة التصدير</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all giveandtake newtasdeer  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">بدل تالف / بدل فاقد عن رخصة تصدير</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtarweej  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار الموافقة على حملة ترويجية</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtarweej  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service1.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">تعديل حملة ترويجية</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtarweej  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">الغاء حملة ترويجية</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtarweej  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">طلب إعادة سحب</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newkafalat  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">الإفراج عن كفالة</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtasfia  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار الموافقة على تصفية</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all market newtasfia  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">تمديد تصفية</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all madeFactory newmatheel  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service1.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">التحقق من وجود مثيل محلي</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all madeFactory newmontaj  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار شهادة قائم ومنتج</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all madeFactory newmwaheed  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار شهادة منتج وحيد</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all madeFactory newmtakhlees  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service2.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">التخليص المحلي لمنتجات المناطق الصناعية المؤهلة</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
       <div class="col-md-4 filter all madeFactory newcertificate  ">
          <div class="serv-div w3-display-container w3-hover">
             <div class="serv-icon  ">
                <img src="../assets/images/service3.png" title="" alt="" />
                <p class="text-center font-weight-bold mt-5">اصدار شهادة وقوع المنشأة ضمن المناطق الصناعية المؤهلة</p>
             </div>
             <div class="w3-display-middle w3-display-hover w3-xlarge  ">
                <p class="font-weight-bold">اسم الخدمة</p>
                <p class="pragrph-inside">شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط
                   عن
                   هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة، شرح بسيط عن هذه الخدمة
                </p>
                <button class="w3-button"><span class="glyphicon text-white ml-2"></span>التقدم لهذه الخدمة</button>
             </div>
          </div>
       </div>
    </div>
 </section>